

body{
    margin: 0;
    background-color: var(--primary-color);
}

header{
    width: 95%;
    background-color: var(--secondary-color);
    height: 90px;
    padding: 20px 4%;
}

header #logo{
    height: 100%;
}