
.horizontal-list,
.vertical-list,
.stretch{
    display: flex;
}


.horizontal-list{
    flex-direction: row;
}

.vertical-list{
    flex-direction: column;

}

.stretch{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.App{
    gap: 20px
}


.page{
    width: 792px;
    background-color: var(--secondary-color);
    padding: 73px 20px;
}


