@font-face {
    font-family: 'SeoulNamsan-CBL';
      src:  url('SeoulNamsan-CBL/SeoulNamsan-CBL.ttf.woff') format('woff'),
      url('SeoulNamsan-CBL/SeoulNamsan-CBL.ttf.svg#SeoulNamsan-CBL') format('svg'),
      url('SeoulNamsan-CBL/SeoulNamsan-CBL.ttf.eot'),
      url('SeoulNamsan-CBL/SeoulNamsan-CBL.eot?#iefix') format('embedded-opentype'); 
      font-weight: normal;
      font-style: normal;
  }

body,
h1, h2, h3, h4, h5,
button, a,
label, input[type="text"], input[type="password"]{
    font-family: "SeoulNamsan-CBL";
}

body,
input[type="text"], input[type="password"]{
    font-size: 14px;
    color: var(--extra-color);
}

h3, button.primary, button.secondary, label{
    font-size: 16px;
}

h1{
    font-size: 36px;
    color: var(--accent-color);
    text-transform: uppercase;
}

label{
    color: var(--extra-color);
}

input[type="text"], input[type="password"]{
    background-color: var(--accent2-color);
    border: none;
    border-radius: 30px;
    padding: 6px 20px;
}
